.hero {
  background-color: #e5e5e540;
}

.hero__inner {
  max-width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 125px;
}

.hero__text-content {
  max-width: 518px;
}

.hero__heading {
  max-width: 375px;
  font-family: "Poppins";
  @include font-styles(700, 40px, 60px);
  color: rgba(34, 52, 61, 1);
  margin: 0;
  margin-bottom: 18px;
}

.hero__text {
  max-width: 440px;
  font-family: "Poppins";
  @include font-styles(400, 18px, 28px);
  color: rgba(34, 52, 61, 1);
  margin: 0;
  margin-bottom: 45px;
}

.hero__button {
  padding: 15px 41px;
  background-color: rgba(2, 137, 122, 1);
  border: 3px solid rgba(2, 137, 122, 1);
  border-radius: 5px;
  font-family: "Poppins";
  @include font-styles(700, 16px, 24px);
  color: rgba(255, 255, 255, 1);
  transition: 0.3s ease;
  margin: 0;
}

.hero__button:hover {
  background-color: #fff;
  color: rgba(2, 137, 122, 1);
} 

.hero__ib-box {
  width: 366px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.hero__play-box {
  width: 161px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.hero__video-link {
  color: rgba(2, 137, 122, 1);
  text-decoration: none;
  border-bottom: 2px solid rgba(2, 137, 122, 1);
  font-family: "Poppins";
  @include font-styles(600, 16px, 24px);
  transition: 0.3s;
}

.hero__video-link:hover {
  opacity: 70%;
}

@include breakpoint-down(1010px) {
  .hero__inner {
    max-width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 125px;
    flex-direction: column-reverse;
  }

  .hero__text-content {
    text-align: center;
  }

  .hero__heading {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .hero__ib-box {
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint-down(620px) {
  .hero__inner {
    max-width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 125px;
    flex-direction: column-reverse;
  }

  .hero__text-content {
    text-align: center;
  }

  .hero__heading {
    margin-left: auto;
    margin-right: auto;
  }

  .hero__img {
    width: 338px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint-down(470px) {
  .hero__inner {
    max-width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 125px;
    flex-direction: column-reverse;
  }

  .hero__text-content {
    text-align: center;
    max-width: 470px;
  }

  .hero__img {
    width: 338px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__heading {
    max-width: 369px;
    font-family: "Poppins";
    @include font-styles(700, 36px, 60px);
    color: rgba(34, 52, 61, 1);
    margin: 0;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__text {
    @include font-styles(400, 18px, 28px);
  }

  .hero__button {
    padding: 14px 24px;
    margin: 0;
  }

  .hero__ib-box {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint-down(360px) {
  .hero__inner {
    max-width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 125px;
    flex-direction: column-reverse;
  }

  .hero__text-content {
    text-align: center;
    max-width: 280px;
  }

  .hero__img {
    width: 280px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__heading {
    max-width: 280px;
    font-family: "Poppins";
    @include font-styles(700, 36px, 60px);
    color: rgba(34, 52, 61, 1);
    margin: 0;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__text {
    @include font-styles(400, 18px, 28px);
  }

  .hero__button {
    padding: 14px 24px;
    margin: 0;
    margin-bottom: 20px;
  }

  .hero__ib-box {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
}