.intro {
  background-color: #e5e5e540;
}

.intro__inner {
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 1110px;
}

.intro__heading {
  max-width: 500px;
  font-family: "Poppins";
  @include font-styles(700, 32px, 48px);
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.intro__list {
  @include list-unstyled;
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 45px;
}

.intro__item {
  max-width: 240px;
}

.intro__img {
  width: 50px;
  height: 50px;
  transition: 0.5s ease;
}

.intro__img:hover {
  cursor: pointer;
  transform: scale(1.2) rotate(360deg);
}

.intro__item-title {
  font-family: "Poppins";
  @include font-styles(600, 22px, 33px);
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
}

.intro__text {
  font-family: "Poppins";
  @include font-styles(400, 16px, 26px);
  margin: 0;
}

.intro__button-box {
  display: flex;
  align-items: center;
}

.intro__button {
  padding: 15px 33px;
  background-color: rgba(2, 137, 122, 1);
  border: 3px solid rgba(2, 137, 122, 1);
  border-radius: 5px;
  font-family: "Poppins";
  @include font-styles(700, 16px, 24px);
  color: rgba(255, 255, 255, 1);
  transition: 0.3s ease;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.intro__button:hover {
  background-color: #fff;
  color: rgba(2, 137, 122, 1);
  cursor: pointer;
}

@include breakpoint-down(968px) {
  .intro__list {
    max-width: 600px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .intro__item {
    margin-bottom: 30px;
    text-align: center;
  }
}

@include breakpoint-down(520px) {
  .intro__list {
    max-width: 240px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .intro__item {
    margin-bottom: 50px;
    text-align: center;
  }
}